ul {
  list-style: none;
  padding-left: 0; 
  margin: 0;
}

a {
  text-decoration: none;
  color: black;       
}

.tripMainImage img{
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.tripTitle{
	border: 1px solid black;
	border-radius: 10px;
	margin: 30px 100px;
}

.tripTitle h3{
	margin-left: 10px;
}

.tripTitle p {
	margin-left: 10px;
}




.tripList{
	display: flex;
	justify-content: space-between;
	gap: 0 20px;
	padding: 10px 20px;
}

.tripList a{
	text-decoration: none;
	color: black;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
}
	


.tripList img {
	width: 100%;
	height: 200px;
	border-radius: 5px;
	display: block;
	opacity: 70%;
	filter: brightness(0.8);
}

.tripList a p{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-decoration: none;
	color: white;
	font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}


.tripShowMore{
	display: flex;
	justify-content: flex-end;
	
}

.showMore{
	margin-right: 10px;
	margin-bottom: 15px;
	text-decoration: none;
	color: gray;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	background-color: white;
	font-size: 15px;
}


.communityMain{
	display: flex;
	justify-content: center;
	gap: 0 50px;
	padding: 30px 0px;
	
}

.tripSchedule{
	width: 300px;
	height: 800px;
	border: 1px solid black;
	border-radius: 10px;
}

.communityMain h2{
	margin-left: 20px; 
}

.communityMain p{
	margin-left: 20px;
	font-weight: bold;
}

.dbContents{
	width: 80%;
	margin: 0 auto;
}


.tripCommunity{
	width: 1000px;
	height: 1000px;
	border: 1px solid black;
	border-radius: 10px;
}









.modal-overlay {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#tripModal, #imageModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;

  justify-content: center;
  align-items: center;
  display: none;
}
#tripModal.show {
  display: flex;
}
#tripModal .modal-content {
  background-color: #fff;
  border-radius: 8px;
  width: 40%;
}
#imageModal .modal-content {
  background-color: #fff;
  border-radius: 8px;
}

#tripModal .modal-header,
#imageModal .modal-header {
  padding: 16px;
  border-radius: 8px 8px 0 0;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#tripModal .modal-header .btn-close,
#imageModal .modal-header .btn-close {
  font-size: 30px;
  cursor: pointer;
}
#tripModal .modal-header .btn-close:hover,
#imageModal .modal-header .btn-close:hover {
  color: #aaa;
}
#tripModal .modal-body,
#imageModal .modal-body {
  padding: 16px;
}


.modal-body a{
	text-decoration: none; 
}










