.main {
    min-height: calc(100vh - 125px);
    background-color: #e5ebf7;
}

.title {
	text-align: center;
	margin: 100px 0 50px;
}

.center {
    max-width: 1500px;
    margin: 0 auto;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

.sc-container {
	display: flex;
    flex-wrap: wrap; 
    gap: 50px;
    justify-content: center;
}

/* <a> 태그 스타일 초기화 */
.card-link {
  display: block; 
  text-decoration: none; 
  color: inherit; 
}

.card {
  width: 300px; 
  border: 1px solid #eee; 
  border-radius: 8px; 
  overflow: hidden; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: all 0.2s ease; 
}

.card img {
  width: 100%;
  height: 168px;
  object-fit: cover;
  display: block; 
}

.card-content {
  padding: 16px;
  background-color: #fff;
}

.visibility{
	display: flex;
	justify-content: space-between;
}

.lockcolor{
	color: gray;
}

.card-content h3 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 1.1rem;
}

.card-content p {
  margin: 0;
  font-size: 0.9rem; 
  color: #666; 
}

.card-link:hover .card {
  transform: translateY(-3px); 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
}